# Environment
NODE_ENV=
PORT=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Redis
REDIS_URI=

# RabbitMQ
RABBITMQ_URI=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# Rate Limiting
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

# Client
CLIENT_URL=

# Logging
LOG_LEVEL=